body{
	padding: 0;
	margin: 0;
	background-color: #580F8B;
}
#particles-js .alert-success{
	background-color: #3D0A61;
	color:white;
	height: 95px;
	width: 480px;
	position: absolute;
	top: 20px;
	left: 20px;
	border: none;
	opacity: 0.9;
}
#particles-js .alert-success:hover{
	background-color: #350953;
}
#particles-js .alert-success h2{
	color: white;
	font-family: Helvetica;
	font-size: 16px;
	font-weight: 600;
}
#particles-js .alert-success p{
	color: #EBE5EE;
	font-family: Helvetica;
	font-size: 14px;
}
#particles-js .alert-success span:hover{
	color: red;
}
section{
	width: 650px;
	margin: 255px auto; 
}
.photo{
	height: 350px;
	width: 360px;
	margin: 30px auto; 
}
.head h1,p{
	text-align: center;
	color: white;
}
.head p{
	font-size: 20px;
	padding-left: 0;
}
.social{
	width: 650px;
}

.social ul li{
	float: left;
	padding-left: 37px;
	font-size: 36px;
	list-style: none;
}

.social ul li i{
	color: #BE76F0;
}
.social ul li i:hover{
	color: #EBD4FA;
}
/* ---- particles.js container ---- */
	#particles-js{
	  width: 100%;
	  height: 100%;
	  position: absolute;
	}
/* ---- particles.js container  End---- */